body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    width: 30%;
    position: absolute;
    left: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1in;
    background-color: #fcfcfc;
    border-radius: 20px;
    height: 80vh;
    box-sizing: border-box;
    -webkit-box-shadow: 8px -6px 25px -2px rgba(0,0,0,0.47); 
    box-shadow: 8px -6px 25px -2px rgba(0,0,0,0.47);
}

.field, button{
    margin-top: 20px;
}

.extended {
    display: flex;
    flex-direction: column;
}

.inline{
    display: flex;
}

label{
    color: #6c5ce7;
    font-size: 1.1rem;
    margin-bottom: 8px;
    font-weight: bold;
}

input{
    border-radius: 4px;
    border: 1px solid #6c5ce7;
    background-color: transparent;
    padding: 8px;
    margin-bottom: 8px;
    color: #6c5ce7;
}

button{
    width: 150px;
    align-self: center;
}

#points-container{
    display: flex;
    justify-content: space-between;
}

#start-point, #end-point{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.point input{
    width: 100%;
    margin-left: 10px;
}

button{
    color: #fff;
    background-color: #6c5ce7;
    padding: 16px 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: #7c6de9;
    cursor: pointer;
}

.transition{
    left: -0.5in;
    transition:left 1s ease-in-out;
    -webkit-transition:left 1s ease-in-out;
}

canvas{
    background-color: #d1d8e0;
    display: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    
}

#canvas-container{
    width: calc(70% + 0.5in);
    align-self: flex-end;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

#solve-bttn, #reset-bttn{
    display: none;
}